<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <linkManager defaultProvider="switchableLinkProvider">
            <providers>
                <add name="switchableLinkProvider">
                    <patch:attribute name="languageEmbedding">always</patch:attribute>
                    <patch:attribute name="useDisplayName">true</patch:attribute>
                </add>
            </providers>
        </linkManager>
        <links>
            <urlBuilder>
                <languageEmbedding>always</languageEmbedding>
                <useDisplayName>true</useDisplayName>
            </urlBuilder>
        </links>
    </sitecore>
</configuration>